* {
    margin: 0;
    font-family: sans-serif;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 226, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 90%;
    margin: 15px;
    border-radius: 10px;
}

.box-container {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.text-container {
    margin: 10px;
    
}

h1 {
    color: rgb(18, 44, 128);
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    
}

p {
    color: grey;
    margin: 10px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin: 15px;
}